<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.twilight.pointquestbackend.mapper.RewardCategoryMapper">
    <sql id="tableName">
        reward_category
    </sql>

    <sql id="baseColumn">
        id,reward_id,category_id
    </sql>
</mapper>
